@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?weavaw');
  src:  url('fonts/icomoon.eot?weavaw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?weavaw') format('truetype'),
    url('fonts/icomoon.woff?weavaw') format('woff'),
    url('fonts/icomoon.svg?weavaw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liwu:before {
  content: "\e916";
}
.icon-chongzhika:before {
  content: "\e915";
}
.icon-bianji:before {
  content: "\e900";
}
.icon-huiyuanjifen:before {
  content: "\e901";
}
.icon-jifenmingxi:before {
  content: "\e902";
}
.icon-chuzhimingxi:before {
  content: "\e903";
}
.icon-youhuiquan:before {
  content: "\e904";
}
.icon-dazhuanpan:before {
  content: "\e905";
}
.icon-wodecaifu:before {
  content: "\e906";
}
.icon-y:before {
  content: "\e907";
}
.icon-rili:before {
  content: "\e908";
}
.icon-tb:before {
  content: "\e909";
}
.icon-erweima:before {
  content: "\e90a";
}
.icon-tu:before {
  content: "\e90b";
}
.icon-daijinquan:before {
  content: "\e90c";
}
.icon-dd:before {
  content: "\e90d";
}
.icon-shenfenzheng:before {
  content: "\e90e";
}
.icon-shengri:before {
  content: "\e90f";
}
.icon-weixin:before {
  content: "\e910";
}
.icon-mima:before {
  content: "\e911";
}
.icon-yanzhengma:before {
  content: "\e912";
}
.icon-shouji:before {
  content: "\e913";
}
.icon-huiyuan:before {
  content: "\e914";
}
